.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.license-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.preview {
  text-align: start;
}
.panel-short {
  padding: 16px;
  text-align: start;
  min-width: 480px;
  background-color: aliceblue;
}
.panel-long {
  padding: 16px;
  text-align: start;
  min-width: 480px;
  background-color: aliceblue;
}
