.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.license-view {
  display: flex;
  flex-direction: row;
}
.preview {
  text-align: start;
}
.panel-short {
  flex: 1;
  padding: 16px;
  text-align: start;
}
.panel-long {
  flex: 1;
  padding: 16px;
  text-align: start;
}
.one-line {
  padding: 4px;
}
